{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Planets Distance</title>
    <link rel="stylesheet" href="{% static 'planets/style.css' %}">
</head>
<body>
    <h1>Planets Distance from Vigo</h1>
    <div>

        {% for planet in planets %}         <!-- esto crea un bucle for en django-->
                                            <!-- el bucle recorre la lista de planetas y genera un boton por cada planeta -->

            <form action="{% url 'distance' planet %}" method="get" >

                <button type="submit">{{ planet|capfirst }}</button>                
            </form>

        {% endfor %}

    </div>
</body>
</html>
